@charset "UTF-8";
/* ページネーション */
nav {
    margin: 10px;
}

nav span {
    margin: 5px;
    font-size: 12pt;
}

nav a {
    margin: 5px;
    font-size: 12pt;
}

nav div {
    margin: 0px;
    font-size: 12pt;
}

svg {
    width: 25px;
    height: 25px;
    margin-bottom: -7px;
}