@charset "UTF-8";
/* --- 表 --- */
table {
    table-layout: fixed; /* 縦列の幅を揃えてすぐに表示を開始する */
    border-collapse: collapse; /* 隣り合う枠線を1本にまとめる */
    border: solid 1px #000000;
}

th, td {
    padding: 12px;
    text-align: left;
}

.table-striped th,
.table-striped td {
    border-bottom: solid 1px #000000;
}

/* tbodyの奇数行(odd)の背景色をグレーに */
.table-striped tbody tr:nth-child(odd) {
    background-color: #d9d9d9;
}

/* ホバー時の背景色をピンクに */
.table-striped tbody tr:hover {
    background-color: #ffc0cb;
}


/* --- フォーム --- */
/* 子要素を垂直に並べる */
.form-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 300px;
    padding: 30px;
    border: solid 1px #000000;
}



/* --- ページネーション --- */
nav {
    margin: 10px;
}

nav span {
    margin: 5px;
    font-size: 12pt;
}

nav a {
    margin: 5px;
    font-size: 12pt;
}

nav div {
    margin: 0px;
    font-size: 12pt;
}

svg {
    width: 25px;
    height: 25px;
    margin-bottom: -7px;
}


/* --- エラー --- */
.error {
    color: #ff0000;
}